{% extends "base.html" %}
{% block content %}

<div class="opening-container">
    <div class="alt-hero bookings">
        <div class="title title-light">
            <h2 class="alt-headings">Make A Reservation</h2>
        </div>

        <div class="alt-hero-box">
            <p>We'de love to have you, make an online booking folllowing the form below.</p>
        </div>
    </div>
</div>

<div class="calendar-outer">
    <div class="calendar">
        <div class="calendar-top">
            <pre class="left no-click" id="prev">◀</pre>
        
            <div class="header-display">
                <p class="display">""</p>
            </div>
  
            <pre class="right" id="next">▶</pre>
        </div>
  
        <div class="week">
            <div>Su</div>
            <div>Mo</div>
            <div>Tu</div>
            <div>We</div>
            <div>Th</div>
            <div>Fr</div>
            <div>Sa</div>
        </div>
        <div class="days"></div>
    </div>
  <div class="display-selected">
      <p class="selected"></p>
  </div>
</div>

<script src="../static/script/calendar.js"></script>
{% endblock %}