{% extends "base.html" %}
{% block content %}

<div class="title title-dark">
    <h2 class="alt-headings">make a reservation</h2>
</div>

<div class="calendar-outer">
    <div class="calendar">
        <header>
            <pre class="left">◀</pre>
        
            <div class="header-display">
                <p class="display">""</p>
            </div>
  
            <pre class="right">▶</pre>
  
        </header>
  
        <div class="week">
            <div>Su</div>
            <div>Mo</div>
            <div>Tu</div>
            <div>We</div>
            <div>Th</div>
            <div>Fr</div>
            <div>Sa</div>
        </div>
        <div class="days"></div>
    </div>
  <div class="display-selected">
      <p class="selected"></p>
  </div>
</div>

{% endblock %}