{% extends "base.html" %}
{% block content %}

<header>
    <div class="outer-header">
        <div class="home">
            <p><a href="index.html">FDM</a></p>
        </div>
        
        <div>
            <p class="phone-number">0264536 3456</p>
        </div>
        
        <!--each line of the menu burger icon-->
        <div class="inner-header" id="burgerIcon" onclick="changeMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    
    <nav >
        <div class="navbox" id="navContainer">
            <div class="navigation-content">
                <ul>
                    <li><a>Home<span>></span></a></li>
                    <li><a>Bookings<span>></span></a></li>
                    <li><a>Menu<span>></span></a></li>
                    <li><a>News<span>></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <section>
        <div class="hero-img">
            <div class="title">
                <h1>FRUITS DE MER</h1>
            </div>

            <div class="make-res">
                <button type="button" class="btn btn-light">Make Reservation</button>
            </div>
        </div>
    </section>

    <section>
        <div class="container slogan">   
            <div class="quotes-inner">
                <p class="quote-top"><i><span>"</span>A modern take on classic French seafood. The Winter 2024 tasting menu is our most challenging and unique project to date.<span>"</span></i></p>
                <p class="quote-bottom">- Pierre Dupont (Principle Chef)</p>
            </div>
        </div>
    </section>

    <section class="carousel-container">
        <div id="homeCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#homeCarousel" data-slide-to="1"></li>
                <li data-target="#homeCarousel" data-slide-to="2"></li>
            </ol>
            
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="slide-1">
                        <div class="container carousel-content">
                            <h2>Responsibly Sourced</h2>
                            <p>All our seafood is line caught ensuring we take no more from the sea than neccessary.</p>
                        </div>
                    </div>
                </div>  
            
                <div class="carousel-item">
                    <div class="slide-2">
                        <div class="container carousel-content">
                            <h2>Expertly Crafted</h2>
                            <p>Pierre Dupont heads the pass with his team of experienced chefs. Combined they have over 130 years experience.</p>
                        </div>
                    </div>
                </div> 

                <div class="carousel-item">
                    <div class="slide-3">
                        <div class="container carousel-content">
                            <h2>Perfectly balanced</h2>
                            <p>All of our ingredients are carefully selected to produce rich flavours perfectly balanced on the palete.</p>
                        </div>
                    </div>
                </div> 

                <a href="#homeCarousel" class="carousel-control-prev" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>

                <a href="#homeCarousel" class="carousel-control-next" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>

            </div>
        </div>
    </section>

    <section>
        <div class="container slogan">   
            <div class="quotes-inner">
                <p class="quote-top">Our food is a delicate fusion of cuisines, pushing the boundaries of taste, creativity and experience.</p>
                <p class="quote-bottom">- Sebastian Albrecht (maître d')</p>
            </div>
        </div>
    </section>

    <section>
        <div class="food-img"></div>
    </section>

    <section>
        <div class="container news">
            <h2>News</h2>  
            <div class="news-container">
                <div class="news-item news-1">
                    <img src="../static/images/home-images/table-image.jpg">
                    <p>26th July 2024</p>
                    <p>Our October diary is now open and filling up fast. Book now to experience some of the most unique dishes Cheshire has to offer</p>
                </div>
                <div class="news-item news-2">
                    <img src="../static/images/home-images/seafood-image.jpg">
                    <p>14th June 2024</p>
                    <p>We are pround to be recognised to highly amongst Britain's best restaurants at the National Restaurant Awards.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>

    </footer>
</main>



<script src="../static/script/script.js"></script>
{% endblock %}