{% extends "base.html" %}
{% block content %}

<div class="opening-container">
    <div class="alt-hero bookings">
        <div class="title title-light">
            <h2 class="alt-headings">Find us</h2>

            <div class="alt-hero-box">
                <p>Fruits De Mer is set in a fantastic location in central Cheshire overlooking the Thornbridge forest and green lakes.</p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="alt-page-content">
    <div id="map">
        <gmp-map
      center="53.262090,-2.347097"
      zoom="11"
      map-id="DEMO_MAP_ID"
      style="height: 400px"
    >
      <gmp-advanced-marker
        position="53.262090,-2.347097"
        title="Fruits De Mer Cheshire"
      ></gmp-advanced-marker>
>
    </gmp-map>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKmq82MwCzUltAXECRjNNgQq0WSSuhZS8&libraries=maps,marker&v=beta"
      defer
    ></script>
    </div>

    <div class="address-center">
      <ul>    
        <li>The Orchid House, First Row</li>
        <li>Thornbridge</li>
        <li>Cheshire</li>
        <li>SK9 1AU</li>
    </ul>
    </div>
</div>





{% endblock %}
