{% extends "base.html" %}
{% block content %}

<div class="opening-container">
    <div class="alt-hero bookings">
        <div class="title title-light">
            <h2 class="alt-headings">Find us</h2>

            <div class="alt-hero-box">
                <p>Fruits De Mer is set in a fantastic location in central Cheshire overlooking the Thornbridge forest and green lakes.</p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="alt-page-content">
    <div id="map">

    </div>
</div>

<script src="../static/script/map.js"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDHHyac2SiOYPNYxXMK7rqJjnB8nCaaxE&callback=initMap"></script>
{% endblock %}