{% extends "base.html" %}
{% block content %}

<div class="opening-container">
    <div class="alt-hero bookings">
        <div class="title title-light">
            <h2 class="alt-headings">Taster Menu</h2>

            <div class="alt-hero-box">
                <p>View Our Winter 2024 Taster Menu below.</p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<!--https://uksm.blob.core.windows.net/cloud/restaurants/17009/menus/onr-sample-tasting-feb24_11032024105511.pdf-->
<div class="alt-page-content reduce-width">
    <p>9 courses £120</p>
    <br>
    <p>Sourdough, cultured butter</p>
    <br>
    <p>Newquay crab lemon fennel seed cracker, spelt, brown crab mayonnaise</p>
    <p>Austell Bay mussel treacle soda bread, cider jelly</p>
    <p>Newlyn scallop french pea puree</p>
    <p>Newquay dover sole, parsley mint and tarragon</p>
    <p>Welsh mackerel shimeju, enoki and king oyster mushrooms</p>
    <p>Helford Bay monkfish peppercorn hollandaise, baked celeriac</p>
    <br>
    <p>Lemon and lime sherbet, blood orange</p>
    <p>Poached rhubarb, rhubarb sorbet</p>
</div>

{% endblock %}