{% extends "base.html" %}
{% block content %}

<div class="opening-container">
    <div class="alt-hero bookings">
        <div class="title title-light">
            <h2 class="alt-headings">Latest News</h2>

            <div class="alt-hero-box">
                <p>See our latest news and updates.</p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="row">
        <div class="col12 col-lg-6">
            fkovmikmv
        </div>

        <div class="col12 col-lg-6">
            <img class="news-img-page" src="../static/images/home-images/table-image.jpg">
        </div>
    </div>

    <div class="row">
        <div class="col12 col-lg-6">
            <img class="news-img-page" src="../static/images/home-images/seafood-image.jpg">
        </div>

        <div class="col12 col-lg-6">
            fkovmikmv
        </div>
    </div>

    <div class="row">
        <div class="col12 col-lg-6">
            fkovmikmv
        </div>

        <div class="col12 col-lg-6">
            <img class="news-img-page" src="../static/images/home-images/function-room.jpg">
        </div>
    </div>
</section>

{% endblock %}