{% extends "base.html" %}
{% block content %}

<div class="opening-container">
    <div class="alt-hero bookings">
        <div class="title title-light">
            <h2 class="alt-headings">Latest News</h2>

            <div class="alt-hero-box">
                <p>See our latest news and updates.</p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<section>
        <div class="row news-row">
            <div class="col12 col-lg-6 news-page-left">
                <h4>October Diary - 26th July 2024</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, provident nostrum distinctio ex, reprehenderit molestias rerum hic illo voluptas quasi temporibus iusto ducimus cum architecto asperiores nisi! Adipisci, hic quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, quidem illum! Sapiente, illum quam. Temporibus eaque ea voluptas illum, quo, quibusdam magnam saepe, odio sed aliquam quaerat atque nemo officia!</p>
            </div>

            <div class="col12 col-lg-6 news-page-right">
                <img class="news-img-page" src="../static/images/home-images/table-image.jpg">
            </div>
        </div>

        <div class="row news-row">
            <div class="col12 col-lg-6 news-page-left">
                <img class="news-img-page" src="../static/images/home-images/seafood-image.jpg">
            </div>

            <div class="col12 col-lg-6 news-page-right">
                fkovmikmv
            </div>
        </div>

        <div class="row news-row">
            <div class="col12 col-lg-6 news-page-left">
                fkovmikmv
            </div>

            <div class="col12 col-lg-6 news-page-right">
                <img class="news-img-page" src="../static/images/home-images/function-room.jpg">
            </div>
        </div>
</section>

{% endblock %}