{% extends "base.html" %}
{% block content %}

<div class="opening-container">
    <div class="alt-hero opening-times">
        <div class="title title-light">
            <h2 class="alt-headings">Opening Times</h2>
        </div>

        <div class="open-now">
            <p id="clock"></p>
            <p id="open"></p>
        </div>
    </div>
</div>

<div class="alt-page-content">
    <p>Monday: 1200-2200</p>
    <p>Tuesday: 1200-2200</p>
    <p>Wednesday: 1200-2200</p>
    <p>Thursday: 1200-2200</p>
    <p>Friday: 1200-2200</p>
    <p>Saturday: 1200-2200</p>
    <p>Sunday: 1000-1600</p>
</div>

<script src="../static/script/opening.js"></script>
{% endblock %}